---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: keepalived-operator
rules:
  - apiGroups:
    - redhatcop.redhat.io
    resources:
    - keepalivedgroups
    - keepalivedgroups/finalizers
    - keepalivedgroups/status
    verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch
  - apiGroups:
    - ""
    resources:
    - configmaps
    verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch    
  - apiGroups:
    - ""
    resources:
    - services
    verbs:
    - get
    - list
    - watch
  - apiGroups:
    - "apps"
    resources:
    - daemonsets
    - daemonsets/finalizers    
    verbs:
    - create
    - delete
    - get
    - list
    - patch
    - update
    - watch   
---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: keepalived-operator
  namespace: {{ .Release.Namespace }}
rules:
# leader election   
- apiGroups:
  - ""
  resources:
  - configmaps
  - pods
  verbs:
  - "*"  
#Metrics  
- apiGroups:
  - ""
  resources:
  - services
  - services/finalizers
  verbs:
  - "*"
#Metrics  
- apiGroups:
  - "apps"
  resources:
  - replicasets
  - deployments
  verbs: 
  - "get"
  - "list"
# Metrics  
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - "get"
  - "create"
# Metrics  
- apiGroups:
  - apps
  resources:
  - deployments/finalizers
  resourceNames:
  - keepalived-operator
  verbs:
  - "update"
  